<br/>
<br/>

<br/>


<div class="container">
    <div class="row">
        <div class="col-md-4">
          
<h1>Overview</h1>
<br/>
<p class="text-justify">
    This section gives us an idea of all destination countries to which people travel from United States using a Bubble chart. The size of country bubble indicates the number of tourists that have travelled to that country in 2017. The country bubbles includes the city bubbles inside them, which indicate the number of travellers who visited that city.<br/>Try hovering over the bubble, to get more detail about the city, country and the number of passengers that visited the city. This gives us an idea of the popular countries visited by passengers from the United States. 
</p>
        </div>
      <div class="col-md-8">
  <svg id="bubble"></svg>
  </div>
  </div>
  </div>
  <br/>
  <br/>
  <br/>

  
