
<svg id="barChart" width="1200" height="600"></svg>
<div class="mx-auto" style="width: 200px;">
    
    <button type="button" class="btn btn-warning" id="alpha" data-toggle="tooltip" data-placement="top" title="Sort Alphabetically by Airline">Alphabetically</button>
    &nbsp;
    <button type="button" class="btn btn-warning" id="dsc" data-placement="top" title="Sort Top 10 Airlines">Top10</button>

    &nbsp;
    <button type="button" class="btn btn-danger" id="reset" data-placement="top" title="Reset">Reset</button>

</div>