<br/>
<br/>
<br/>
<div class="container">
        <div class="row">
            <div class="col-sm">
                    <h1>Find Best Airline</h1>
                    <br/>
                    <p class="text-justify">
                        This section helps user to find best airline to travel with. By default, we present user with stacked bar graph based on factors like Punctuality, Handling of Passenger Rights, AirHelp Score, Service Quality. We have also provided user options like viewing only Top 10 Airlines and Viewing alphabetically.

                             <br/>
                                    <br/>
                    </p>
            </div>
    </div>
        <div class="row">
          <div >
                <div class="input-group" style="width:800px; margin:0 auto; font-size:13px;">
                    <div>
    <button type="button" class="btn btn-outline-primary" id="alpha" data-toggle="tooltip" data-placement="top" title="Sort Alphabetically by Airline">Alphabetically</button>
    &nbsp;
    <button type="button" class="btn btn-outline-primary" id="dsc" data-placement="top" title="Sort Top 10 Airlines">Top10</button>

    &nbsp;
    <button type="button" class="btn btn-outline-primary" id="reset" data-placement="top" title="Reset">Reset</button>
        </div>
    </div>
              </div>
        </div>
        <br/>

        <div class="row">
                <div >
                        <div class="input-group" style="width:800px; margin:0 auto; font-size:13px;">
                            <div>
                                    <svg id="barChart" width="1200" height="600"></svg>
                                    </div>
                                    </div>
                
            </div>
          </div>
          <br/>
          <br/>
