<div class="form-group">
    <label class="col-lg-1 control-label">DESTINATION</label>
    <div class="col-lg-6">
        <select id="DEST" class="selectpicker show-menu-arrow form-control" multiple>
            <option value="Belgium">Belgium</option>
            <!-- <option value="Algeria">Algeria</option> -->
            <!-- <option value="Angola">Angola</option> -->
            <option value="Anguilla">Anguilla</option>
            <option value="Argentina">Argentina</option>
            <option value="Aruba">Aruba</option>
            <option value="Belize">Belize</option>
            <option value="Brazil">Brazil</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Canada">Canada</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Cuba">Cuba</option>
            <option value="Ecuador">Ecuador</option>
            <option value="France">France</option>
            <option value="France">Germany</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Peru">Peru</option>
            <option value="Mexico">Mexico</option>
            <option value="Italy">Italy</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Russia">Russia</option>
            <option value="South Korea">South Korea</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Ireland">Ireland</option>
            <option value="Australia">Australia</option>
            <option value="Turkey">Turkey</option>
            <option value="Qatar">Qatar</option>
            <option value="Israel">Israel</option>
            <option value="Haiti">Haiti</option>
            <option value="India">India</option>
            <option value="Honduras">Honduras</option>
            <option value="Belgium">Belgium</option>
            <option value="Sweden">Sweden</option>
            <option value="Singapore">Singapore</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Belize">Belize</option>
            <option value="Norway">Norway</option>
            <option value="Poland">Poland</option>
\            <option value="Jordan">Jordan</option>
            <option value="Morocco">Morocco</option>

        </select>
    </div>
<button id="button1" class="col-lg-1">Click me!</button>

    <!-- <button id="button1" class="col-lg-1" (click)="onClickMe()">Click me!</button> -->
</div>
<div><svg id="linechart"></svg></div>
<div id='tooltip' style='position:absolute;background-color:lightgray;padding:5px'></div>