<div class="form-group">
    <label class="col-lg-1 control-label">DESTINATION</label>
    <div class="col-lg-6">
        <select id="DEST" class="selectpicker show-menu-arrow form-control" multiple>
            <option value="Belgium">Belgium</option>
            <!-- <option value="Algeria">Algeria</option> -->
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Argentina">Argentina</option>
            <option value="Aruba">Aruba</option>
            <option value="Belize">Belize</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Brazil">Brazil</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Canada">Canada</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Cuba">Cuba</option>
            <option value="Ecuador">Ecuador</option>
            <option value="France">France</option>
            <option value="France">Germany</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Peru">Peru</option>
            <option value="Mexico">Mexico</option>
            <option value="Italy">Italy</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Russia">Russia</option>
        </select>
    </div>
    <label class="col-lg-1 control-label">ORIGINCITY</label>
    <div class="col-lg-6">
        <select id="origin" class="selectpicker show-menu-arrow form-control">
            <option value="LAX">LAX</option>
            <option value="IAH">IAH</option>
            <option value="ARN">ATL</option>
        </select>
    </div>
    <button class="col-lg-1" (click)="onClickMe()">Click me!</button>
</div>
<div><svg id="linechart"></svg></div>