<div class="form-group">
    <label class="col-lg-1 control-label">DESTINATION</label>
    <div class="col-lg-6">
        <select id="DEST" class="selectpicker show-menu-arrow form-control" multiple>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Algeria">Algeria</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Argentina">Argentina</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Belize">Belize</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Canada">Canada</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
        </select>
    </div>
    <label class="col-lg-1 control-label">ORIGINCITY</label>
    <div class="col-lg-6">
        <select id="origin" class="selectpicker show-menu-arrow form-control">
            <option value="LAX">LAX</option>
            <option value="IAH">IAH</option>
            <option value="LWB">LWB</option>
        </select>
    </div>
    <button class="col-lg-1" (click)="onClickMe()">Click me!</button>
</div>
