<br/>
<br/>
<br/>


<div class="container">
    <div class="row">
        <div class="col-sm">
                <h1>Find Best Time</h1>
                <br/>
                <p class="text-justify">
                    This section helps in deciding the best time to visit a particular destination. By default line chart shows the number of passengers to top 10 destination countries from United States over January to December in 2017. User can select a particular destination to find out what is the best time to visit it. User is also given option to select multiple destinations.
                         <br/>
                                <br/>
                </p>
        </div>
</div>
    <div class="row">
      <div class="col-sm-3">
            <div class="input-group" style="width:800px; margin:0 auto; font-size:13px;">
                <div class="col-sm-3">
                    <label class="input-group-text" for="DEST">Select Destination</label>
                    
                        <select id="DEST" class="selectpicker" multiple>
      
      <option value="Anguilla" >Anguilla</option>
      <option value="Argentina">Argentina</option>
      <option value="Aruba">Aruba</option>
      <option value="Australia">Australia</option>
      <!-- <option value="Belize">Belize</option> -->
      <option value="Brazil">Brazil</option>
      <option value="Bolivia">Bolivia</option>
      <option value="Belgium">Belgium</option>
      <option value="Bermuda">Bermuda</option>
      <option value="Belize">Belize</option>
      <option value="Canada">Canada</option>
      <option value="Chile">Chile</option>
      <option value="China">China</option>
      <option value="Colombia">Colombia</option>
      <option value="Cuba">Cuba</option>
      <option value="Ecuador">Ecuador</option>
      <option value="France">France</option>
      <option value="France">Germany</option>
      <option value="Haiti">Haiti</option>
      <option value="Honduras">Honduras</option>
      <option value="Italy">Italy</option>
      <option value="Ireland">Ireland</option>
      <option value="India">India</option>
      <option value="Israel">Israel</option>
      <option value="Jamaica">Jamaica</option>
      <option value="Japan">Japan</option>
      <option value="Jordan">Jordan</option>
      <option value="Peru">Peru</option>
      <option value="Mexico">Mexico</option>
      <option value="Morocco">Morocco</option>
      <option value="New Zealand">New Zealand</option>
      <option value="Norway">Norway</option>
      <option value="Poland">Poland</option>
      <option value="Russia">Russia</option>
      <option value="South Korea">South Korea</option>
      <option value="Sweden">Sweden</option>
      <option value="Singapore">Singapore</option>  
      <option value="Turkey">Turkey</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="Qatar">Qatar</option>
  
  </select>
</div>
</div>
          </div>
        
            <div class="col-sm-9"><div><svg id="linechart"></svg></div></div>
        </div>
      </div>
      <br/>
      <br/>
