<div id="content">
    <div class="row">
        <div class="col-sm">
            <nav id="navbar-example2" class="navbar navbar-dark bg-dark fixed-top ">
                <a class="navbar-brand" href="#">Travelcation</a>
                <ul class="nav nav-pills">
                  <li class="nav-item">
                      <a class="nav-link" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#overview">Overview</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#where">Find Best Destination</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#when">Find Best Time</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#airline">Find Best Airline</a>
                  </li>
                </ul>
              </nav>
        </div>
      </div>


      <div class="row">
        <div class="col-sm">
            <div id="home">
                <app-home></app-home>
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-sm">
              <div id="overview">
                  <app-bubblechart></app-bubblechart>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm">
              <div id="where">
                  <app-mapchart></app-mapchart>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm">
              <div id="when">
                  <app-linechart></app-linechart>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-sm">
              <div id="airline">
                  <app-airlines></app-airlines>
              </div>
          </div>
      </div>

</div>
